
  <%- include('../views/parts/header.ejs', {value: values ,user: user}) %> 

	<main>
  <%- include('../views/parts/formulario.ejs', {value: values, user: user}) %> 
  </main>

  <a href="/"><img src="/images/logout.png" class='logout' alt="Logout" /></a>
  <script src='/scripts/mascaras.js' type='text/javascript'></script>
  <script src='/scripts/disparos.js' type='text/javascript'></script>

</body>
</html>
