  <%- include('../views/parts/header.ejs', {user: user}) %> 
	<main>
    <form>
        
      <div>
        <label for='cpf'>CPF</label>
        <input type="text" id='cpf' name='cpf'/>
      </div>

      <div>
        <label for='dt_nasc'>Data de Nascimento</label>
        <input type="text" id='dt_nasc' name='dt_nasc' />
      </div>

      <div>
        <label for='operador'>Operador</label>
        <input type="text" name='operador' id='operador' value='<%=user.name%>'/>
      </div>

      <div class='large'> 
        <label for='nome'>Nome</label>
        <input type="text" name='nome' id='nome' style='width:89%;'/>
      </div>

      <div>
        <label for='end'>Endereço</label>
        <input type="text" id='end' name='end'/>
      </div>

      <div>
        <label for='bairro'>Bairro</label>
        <input type="text" id='bairro' name='bairro'/>
      </div>

      <div>
        <label for='cep'>CEP</label>
        <input type="text" id='cep' name='cep'/>
      </div>

      <div>
        <label for='municipio'>Município</label>
        <input type="text" id='municipio' name='municipio'/>
      </div>

      <div>
        <label for='uf'>UF</label>
        <input type="text" id='uf' name='uf'/>
      </div>

      <div>
        <label for='tel'>Telefone</label>
        <input type="text" id='tel' onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" name='tel'/>
      </div>

      <div>
        <label for='cel'>Celular</label>
        <input type="text" id='cel' name='cel' onkeypress="maskC(this, mphone);" onblur="maskC(this, mphone);" />
      </div>

      <div>
        <label for='parcelas'>Parcelas</label>
        <input type="text" id='parcelas' name='parcelas'/>
      </div>

      <div>
        <label for='n_beneficio'>Nº Benefício</label>
        <input type="text" id='n_beneficio' name='n_beneficio'/>
      </div>

      <div>
        <label for='banco'>Banco</label>
        <input type="text" id='banco' name='banco'/>
      </div>

      <div>
        <label for='ag'>AG</label>
        <input type="text" id='ag' name='ag'/>
      </div>

      <div>
        <label for='n_conta'>Nº Conta</label>
        <input type="text" id='n_conta' name='n_conta'/>
      </div>

      <div>
        <label for='tipo_conta'>Tipo de Conta</label>
        <input type="text" id='tipo_conta' name='tipo_conta'/>
      </div>

      <div>
        <label for='banco_origem'>Banco Origem</label>
        <input type="text" id='banco_origem' name='banco_origem'/>
      </div>

      <div>
        <label for='parcela'>Parcela</label>
        <input type="text" id='parcela' name='parcela'/>
      </div>

      <div>
        <label for='saldo_devedor'>Saldo Devedor</label>
        <input type="text" id='saldo_devedor' name='saldo_devedor'/>
      </div>

      <div>
        <label for='qtd_pagas'>Qtd Pagas</label>
        <input type="text" id='qtd_pagas' name='qtd_pagas'/>
      </div>

      <div>
        <label for='valor_liquido'>Valor Liquido</label>
        <input type="text" id='valor_liquido' name='valor_liquido'/>
      </div>

      <div>
        <label for='data_inicio'>Data Inicio</label>
        <input type="text" id='data_inicio' name='data_inicio'/>
      </div>

      <div>
        <label for='prazo'>Prazo</label>
        <input type="text" id='prazo' name='prazo'/>
      </div>

      <div>
        <label for='restantes'>Restantes</label>
        <input type="text" id='restantes' name='restantes'/>
      </div>

      <div>
        <label for='quitação'>Quitação</label>
        <input type="text" id='quitação' name='quitação'/>
      </div>

      <div>
        <label for='tipo'>Tipo</label>
        <input type="text" id='tipo' name='tipo'/>
      </div>

      <div>
        <label for='taxa'>Taxa</label>
        <input type="text" id='taxa' name='taxa'/>
      </div>

      <div>
        <label for='contrato'>Contrato</label>
        <input type="text" id='contrato' name='contrato'/>
      </div>

      <div>
        <label for='status'>Status</label>
        <input type="text" id='status' name='status'/>
      </div>

      <div class='large'>
        <label for='obs'>Observação</label>
        <textarea id='obs' name='obs'></textarea>
      </div>

      <div class='large' style='display: flex;
      justify-content: center;'>
        <label for='anexo'>Anexo
          <input type='file' id='anexo' name='anexo'>
        </label>
      </div>

      <div class='large' style='display: flex;
      justify-content: center;'>
        <input type="submit" value='Salvar'>
      </div>
    </form>
  </main>
  <script src='/scripts/mascaras.js' type='text/javascript'></script>

</body>
</html>
