
  <%- include('../views/parts/header.ejs', {user: user}) %> 
	<main>
    <input type="text" name='CPF' />
    <input type="text" name='dt_nasc' />
    <input type="text" name='operador' value='<%=user.name%>'/>
  </main>

</body>
</html>
