span {
  color: #fff;
}
header {
  width: 98.7vw;
  height: 10vh;
  background-color: #1e7eb5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
}
button,
#callBot {
  border: none;
  padding: 0.5rem;

  height: 2rem;
  background-color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.findCpf {
  display: flex;
}
#callBot:hover,
button:hover {
  background-color: #eee;
}
input[type="text"] {
  height: 4vh;
  border: 2px solid #666;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 0.2rem;
  margin-right: 0.3rem;
}

.invert {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

img {
  width: 1rem;
  align-self: center;
}
p {
  color: #fff;
}
