* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: aliceblue;
}
.logout {
  width: 2rem;
  margin: 1%;
  position: absolute;
  filter: invert(1);
  top: 0;
}
label {
  display: block;
}
main {
  width: 70vw;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}
textarea {
  display: block;
  border: 2px solid #666;
  width: 90%;
  height: 100%;
  resize: none;
  padding: 0.2rem;
  position: relative;
}
label[for="anexo"],
.enviar {
  padding: 5px 5px;
  width: 100px;
  background-color: #ddd;
  color: #333;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 3rem;
  cursor: pointer;
  border: none;
}

.reset {
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border: none;
  cursor: pointer;
  width: 6rem;
  text-align: center;
  background-color: #ddd;
  text-decoration: none;
}

.carregado {
  color: #1e7eb5;
}

.not-carregado {
  color: tomato;
}
label[for="anexo"]:hover,
.reset:hover {
  background-color: #ccc;
}
input[type="file"] {
  display: none;
}
.enviar {
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  background-color: #1e7eb5;
}
input[type="submit"]:hover {
  background-color: #208ac7;
}
.large {
  grid-column: 1 / span 3;
}
form.principal {
  background-color: #f0f8ff;
}
.group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem 3rem;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: #fefefe;
  margin-bottom: 1.5rem;
  border-bottom: 4px solid #ccc;
}
h2 {
  color: #666;
  padding: 1rem;
  background-color: #fefefe;
}

.show {
  visibility: visible;
  display: block;
}

.hide {
  display: none;
  visibility: hidden;
}
