.voltar {
  width: 2rem;
  padding: 0.7rem;
  margin: 0.6rem;
  background-color: #e1814a;
  border-radius: 50%;
  filter: invert(1);
  position: absolute;
  margin-bottom: 1rem;
}
h3 {
  margin-left: 1rem;
}
div.filters select {
  width: 7rem;
}
div.filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
}
.large_relatorio {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 20vh;
}
#created_at {
  overflow: hidden;
}
#transaction {
  overflow-x: auto;
  width: 98%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: -10rem;
}
#data-table {
  border-spacing: 0 0.5rem;
  width: 100%;
  color: #666;
}

table tbody tr:hover {
  opacity: 1;
}
table tbody tr:nth-child(even) td {
  color: #333;
  background: #ade1ff;
}

table#data-table th {
  background: #1e7eb5;
  font-weight: normal;
  padding: 1rem 1rem;
  color: #fff;
  text-align: left;
}

table#data-table td {
  font-weight: normal;
  padding: 1rem 0.5rem;
  overflow: auto;
}

input[type="date"] {
  border: 2px solid #666;
  border-radius: 4px;
  padding: 4px;
}
div.large {
  height: 100vh;
  margin-bottom: 0;
}
h2 {
  text-align: center;
}
label {
  width: 10%;
  display: inline-block;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 3rem;
  width: 100%;
  height: 60%;
}
