.voltar {
  width: 2rem;
  padding: 0.7rem;
  margin: 0.6rem;
  background-color: #e1814a;
  border-radius: 50%;
  filter: invert(1);

  margin-bottom: 3rem;
}
h3 {
  margin-left: 1rem;
}
div.filters select {
  width: 7rem;
}
div.filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
}
.large_relatorio {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 20vh;
}

#transaction {
  overflow-x: auto;
  overflow-y: auto;
  width: 98%;
  height: 25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: -20rem;
}
#data-table {
  border-spacing: 0 0.2rem;
  width: 100%;
  color: #666;
}

table tbody tr:hover {
  opacity: 1;
}
table tbody tr.vermelho td {
  color: #333;
  background: rgb(255, 172, 157);
  text-align: center;
}
table tbody tr.verde td {
  color: #333;
  background: rgb(205, 255, 226);
  text-align: center;
}

table tbody tr.roxo td {
  color: #333;
  background: rgb(186, 213, 255);
  text-align: center;
}
table tbody tr.amarelo td,
table tbody tr td {
  color: #333;
  background: rgb(255, 254, 200);
  text-align: center;
}

table#data-table th {
  background: #1e7eb5;
  font-weight: normal;
  padding: 0.1rem 5rem;
  color: #fff;
  text-align: left;
}

table#data-table td {
  font-weight: normal;
  padding: 0.5rem 0.5rem;
  overflow: auto;
}

input[type="date"] {
  border: 2px solid #666;
  border-radius: 4px;
  padding: 4px;
}
div.large {
  height: 100vh;
  margin-bottom: 0;
}
h2 {
  text-align: center;
}
label {
  width: 10%;
  display: inline-block;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  width: 100%;
  height: 35%;
}
